@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--back-color1);
}
:root {
  --back-color: #ffff;
  --back-color1: #f8f8f8;
  --back-color2: #f2fafb;
  --color-1: #0f0f0f;
  --color-2: #8b94a4;
  --color-3: #244a84;
  --color-fooor-1: #9ba3b1;
  --icon-1: #093475;
  --icon-2: #009ea7;
  --border-color: #e4bd63;
  --shadow-color: #f4e6c4;
  --hover-color: #46b7be;
}
header {
  position: relative;
  background-color: var(--back-color);
  width: 100vw;
  height: 30vh;
}
header .header-rasm {
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-top: 15px;
}
header .header-rasm .header-tepa-past .header-ul-tepa ul {
  display: flex;
  list-style: none;
  margin: 10px;
  margin-left: 5px;
}
header .header-rasm .header-tepa-past .header-ul-tepa ul li {
  margin: 5px 18px 0 0;
  font-size: 12px;
  box-sizing: border-box;
}
header .header-rasm .header-tepa-past .header-ul-tepa ul li a {
  text-decoration: none;
  color: var(--color-2);
  text-transform: uppercase;
}
header .header-rasm .header-tepa-past .header-ul-tepa ul li a:hover {
  color: var(--icon-1);
}
header .header-rasm .header-tepa-past .header-ul-past ul {
  display: flex;
  list-style: none;
}
header .header-rasm .header-tepa-past .header-ul-past ul li a {
  margin: 18px 20px 0 0;
  font-size: 25px;
}
header .header-rasm .header-tepa-past .header-ul-past ul li a {
  text-decoration: none;
  color: var(--color-1);
  font-weight: bold;
}
header .header-rasm .header-tepa-past .header-ul-past ul li a:hover {
  color: var(--icon-2);
}
ul.my-list li {
  list-style: none;
  position: relative;
  display: inline;
}
ul.my-list li a {
  color: #333;
  text-decoration: none;
}
ul.my-list li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background: var(--color-3);
  transition: all 0.45s;
}
ul.my-list li:hover:after {
  width: 100%;
  left: 0;
}
ul.my-list li a:hover {
  text-decoration: none;
}
header .header-tepa-past {
  margin-left: 40px;
}
header .header-pastki {
  position: absolute;
  right: 120px;
  top: 150px;
}
header .header-pastki ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header .header-pastki ul li {
  margin-left: 20px;
  color: var(--color-1);
  font-size: 24px;
}
header .header-pastki .telephone {
  border: 2px solid;
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.5s;
  border-color: var(--border-color);
}
header .header-pastki .telephone:hover {
  background-color: var(--border-color);
  color: var(--back-color1);
}
header .header-pastki ul li i {
  color: var(--icon-1);
}
header .header-pastki .telephone i {
  color: var(--back-color-1);
  margin-right: 5px;
  font-size: 24px;
}
.slider {
  background-color: white;
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
  margin-top: 15px;
}
.header-rasm hr {
  color: var(--color-fooor-1);
}
.slider::before,
.slider::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.slider::before {
  top: 0;
  left: 0;
}
.slider {
  top: 0;
  right: 0;
  transform: rotateZ(360deg);
}
.slider .slider-track {
  display: flex;
  width: calc(250px * 14);
  animation: scroll 360s infinite linear;
}
.slider .slide img {
  width: 60px;
  height: 60px;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(calc(-250px * 7));
  }
  100% {
    transform: translateX(0%);
  }
}
main {
  position: relative;
}
main .h1 {
  text-align: center;
  font-size: 45px;
  margin: 40px 20px;
  font-weight: 500;
  font-weight: bold;
}
main .main-tanlash-kerak .div:target {
  display: block;
}
main .main-tanlash-kerak .div {
  display: none;
}
main .main-tanlash-kerak ul {
  display: flex;
  list-style: none;
  margin: 10px 0 0 200px;
}
main .main-tanlash-kerak ul li {
  margin: 20px;
}
main .main-tanlash-kerak ul li a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
main .link {
  display: inline-block;
  position: relative;
  color: var(--color-3);
}
main .link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--icon-2);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
main .link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.main-tanlash-kerak ul li a:hover {
  color: var(--icon-2);
}
main div.div1 table,
main div.div2 table {
  margin: 15px 0 15px 80px;
  width: 70%;
  height: 500px;
  font-size: 18px;
  padding: 20px;
  border: none;
}
main div.div1 table hr,
main div.div2 table hr {
  color: var(--color-3);
}
main div.div1 table span img,
main div.div2 table span img {
  width: 15px;
}
main div.div1 table .th,
main div.div2 table .th {
  text-align: left;
  border: none;
  color: var(--color-3);
  font-variant: inherit;
  text-transform: uppercase;
}
main div.div1 table .trd:hover {
  border: 0;
  margin: 0;
  background-color: var(--icon-2);
}
main .ostki {
  width: 1200px;
  margin: auto;
}
main div.div1 table .trd,
main div.div2 .trd {
  transition: 0.5s;
}
main div.div2 table .trd:hover {
  border: none;
  background-color: var(--icon-2);
}
main .valyuta-ayirboshlash {
  position: absolute;
  right: 80px;
  top: 225px;
}
main .valyuta-ayirboshlash .hisob-kitob {
  background: white;
  width: 300px;
  height: 200px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
}
main .valyuta-ayirboshlash .hisob-kitob .label1 {
  font-size: 18px;
}
main .valyuta-ayirboshlash .hisob-kitob .input1 {
  margin: 18px 0;
  height: 40px;
  width: 180px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  opacity: 0.5;
  padding: 10px;
}
.input1::placeholder {
  font-size: 20px;
}
main .valyuta-ayirboshlash .hisob-kitob .selec {
  height: 40px;
  width: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: var(--back-color3);
}
main .valyuta-ayirboshlash .hisob-kitob option {
  background-color: var(--back-color3);
}
main .valyuta-ayirboshlash .hisob-kitob .uzs {
  position: absolute;
  right: 40px;
}
main .valyuta-ayirboshlash .hisob-kitob p {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  height: 40px;
  padding: 10px;
}
.sub-menu-1{
  position: relative;
  display: none;
  height: 300px;
}

header .header-rasm .header-tepa-past .header-ul-past .kreditlar:hover .sub-menu-1{
  position: absolute;
  font-size: 13px;
  background-color: #acacac;  
  top: 30vh;
  width: 100vw;
  left: 0;
  height: 500px;
  z-index: 121555;
  display: block;
  box-shadow: 2px 0px 5px black;
}
header .header-rasm .header-tepa-past .header-ul-past .sub-menu-1 .table01{
  width: 15vw;
  position: absolute;
  font-size: 25px;
  left: 5vw;
  margin: 20px 0;
}
header .header-rasm .header-tepa-past .header-ul-past .sub-menu-1 .table .table1{
  display: inline-table;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 28vw;
}
header .header-rasm .header-tepa-past .header-ul-past .sub-menu-1 .table .table1 li{
  margin: 15px 0;
  display: flex;
  align-items: center;
}
header .header-rasm .header-tepa-past .header-ul-past .sub-menu-1 .table .table1 img{
  width: 40px;
  position: absolute;
  left: -45px;
}